* {
  margin: 0;
  padding: 0;
}

.container {
  border: 5px solid black;
  border-radius: 20px;
  margin-top: 5vh;
  height: 80vh;
  background-color: purple;
}

h1 {
  text-align: center;
  margin-top: 5vh;
  text-shadow: 5px;
}
ul li.checked {
  background: #999;
  color: #333;
  text-decoration: line-through;
}

#deleteAll {
  position: absolute;
  right: 5px;
  top: 5px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 15px 10px 15px;
}

.close:hover {
  background-color: #dc3545;
}

li:hover {
  text-decoration: line-through;
}
